{% extends "base.html" %}

{% block title %}
Home
{%endblock %}

{% block content %}
<br />
<h1 align="center">Notes</h1>
<br/>
<p align="center">Type your note below.</p>
<p align="center">Other users will not be able to see your notes.</p>
<ul class="list-group list-group-flush" id="Notes">
    {% for note in user.notes %}
    <li class="list-group-item d-flex justify-content-between">
        {{ note.text }}
        <button type="button" class="btn-close" onclick="deleteNote({{ note.id }})"></button>
    </li>
    {% endfor %}
</ul>

<form method="POST">
    <textarea name="note" id="note" class="form-control"></textarea>
    <br />
    <div align="center">
        <button type="submit" class="btn btn-primary">Add Note</button>
    </div>
</form>

<br/>
<div style="text-align: center;">
<img src="{{ url_for('static', filename='img/SexyCreator.jpg') }}" alt="Sexy Creator" style="width: 75%; height: auto;">
<br>
<img src="{{ url_for('static', filename='img/Elai Hamugan.jpg') }}" alt="Elai Hamugan" style="width: 75%; height: auto;">
<br>
<img src="{{ url_for('static', filename='img/Karahi.jpg') }}" alt="Karahi" style="width: 75%; height: auto;">
<br>
<img src="{{ url_for('static', filename='img/Elai Hagadol Meod.jpg') }}" alt="Elai Hagadol Meod" style="width: 75%; height: auto;">
<br>
<img src="{{ url_for('static', filename='img/Yali Hakatan.jpg') }}" alt="Yali Hakatan" style="width: 75%; height: auto;">
<br>
<img src="{{ url_for('static', filename='img/Yaronetapp.jpg') }}" alt="Yaronetapp" style="width: 75%; height: auto;">
</div>

<a href="#" 
class="scrollbutton" 
id="scrollbuttonid"> 
 Back To Top
</a> 

<script src="{{ url_for('static', filename='js/back2top button.js') }}"></script>

{% endblock %}
